.app{
    background-color: rgb(82, 82, 78);
    transition: all 1000ms;
    -webkit-transition: all 1000ms;
    position:absolute;
    border-radius: 10px;
    -webkit-box-shadow: 20px 20px 20px #000;
    box-shadow: 20px 20px 20px #000;
    border: 1px solid #002232;
    width: 900px;
    height: 500px;
    left: 50%;
    top: 50%;
    margin: -250px 0 0 -450px;
    -webkit-perspective: 800;
    perspective: 800;
    border-radius: 10px;
    font-family: 'Outlier';
    font-size: xx-large;
    /* overflow: hidden; */
}


#lostcell:-webkit-full-screen{
    width: 100%;
    height: 100%;
    margin: 0;
    left: 0px;
    top: 0px;
}

select {
    background: #848181;
    width: 150px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #1D1B1B;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: tahoma;
    vertical-align: middle;
    /* background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee;*/
    color: #F5AB5A;
}
.slider {
    width: 200px;
    display: inline-block;
    height: 25px;
    border-radius: 5px;
}
.activeState {
    
}

.inactiveState {
    display: none;
}
.shrink{
    width: 5px;
    height: 5px;
    overflow: hidden;
}
.expand{
    
}
.flyIn {
    left: 50%;
    -webkit-transform:  rotateY(0) rotate(0);
    transform:rotateY(0) rotate(0);
    /*-webkit-animation: flyIn 800ms ease-in;*/
}

.flyOut {
    left: -10%;
    -webkit-transform: rotateY(-90deg) rotate(-90deg);
    transform: rotateY(-90deg) rotate(-90deg);
    /*-webkit-animation: flyOut 800ms ease-in;*/
}

@font-face{
    font-family: 'tahomabd';
    src: url('../images/LostCell/Fonts/tahomabd.ttf') format('truetype');
}

@font-face{
    font-family: 'tahoma';
    src: url('../images/LostCell/Fonts/tahoma.ttf') format('truetype');
}

@font-face{
    font-family: 'OutlierRail';
    src: url('../images/LostCell/Fonts/OutlierRail.ttf') format('truetype');
}

@font-face{
    font-family: 'Outlier';
    src: url('../images/LostCell/Fonts/Outlier.ttf') format('truetype');
}

@font-face{
    font-family: 'ModernDestronic';
    src: url('../images/LostCell/Fonts/ModernDestronic.ttf') format('truetype');
}

@font-face{
    font-family: 'KeepCalm-Medium';
    src: url('../images/LostCell/Fonts/KeepCalm-Medium.ttf') format('truetype');
}

@font-face{
    font-family: 'euphemia';
    src: url('../images/LostCell/Fonts/euphemia.ttf') format('truetype');
}
.led-red {
    margin: 0px 0px 1px -5px;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #FF4A1D;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #600 0 -1px 9px, #F00 0 2px 12px;
}

.led-yellow {
    /*margin: 12px ;*/
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #FFe602;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #660 0 -1px 9px, #DD0 0 2px 12px;
}

.led-green {
    margin: 0px;
    margin-bottom: 1px;
    margin-left: -5px;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #AF0;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7D0 0 2px 12px;
}

.led-blue {
    /*margin: 12px ;*/
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #00DBFF;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #006 0 -1px 9px, #06F 0 2px 14px;
}

.led-orange {
    /*margin: 12px ;*/
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #FF7F00;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #650 0 -1px 9px, #FFBC00 0 2px 14px;
}

.red {
    background-color: red;
}
.blue {
    background-color: #9A7F7D;
}
.green {
    background-color: #000000;
}

.yellow {
    background-color: yellow;
}

.white {
    background-color: white;
}
.purple {
    background-color: purple;
}
.black {
    background-color: black;
}
.loginButton{
    text-align: center;
    width: 50%;
    height: 62px;
    border: 3px solid #ff7f00;
    font-family: tahomabd;
    font-size: 44px;
    border-radius: 5px;
    margin-left: 25%;
    padding: 5px 0px 0 5px;
    margin-top: 219px;
    background: -webkit-gradient(linear, left top, left bottom, from(#676B6D), to(#36383A));
    box-shadow: 7px 8px 4px #000;
}


/*
 //
 //     Drone State
 //
 
*/

/*
 Multiline CSS Animation w/ Visual Debugging 
http://stackoverflow.com/questions/22571983/css-animations-with-spritesheets-in-a-grid-image-not-in-a-row
*/
.drone {
    width: 128px;
    height: 128px;
    background-image: url("../images/LostCell/BDrone_anim_hover_128.png");
    position: relative;
    animation: droneHoverV 2.25s steps(9) infinite, droneHoverH 0.25s steps(10) infinite;
 /*   
    -webkit-animation-name: droneHoverV, droneHoverH;
    -webkit-animation-duration: 2.25s, 0.25s;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-timing-function: steps(9), steps(10);
   
    animation-name: droneHoverV, droneHoverH;
    animation-duration: 2.25s, 0.25s;
    animation-iteration-count: infinite, infinite;
    animation-timing-function: steps(9), steps(10);
    
    
   -webkit-animation-name: droneHoverH;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps(10);*/

}
.droneWrapper {
    width: 128px;
    height: 128px;
    position: relative;
    background-color: rgb(0,0,0);
    border-bottom-right-radius: 25px;
/*    border-top-left-radius: 10px;*/
    border-color: #C36519;
    border-width: 0 5px 5px 0;
    border-style: solid;
}

.atom{
    width: 128px;
    height: 128px;
    background-image: url("../images/LostCell/ATOMLogo.png");
    position: relative;
}
.atomWrapper{
    width: 128px;
    height: 128px;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: rgb(0,0,0);
    border-bottom-left-radius: 25px;
    /*    border-top-right-radius: 10px;*/
    border-color: #C36519;
    border-width: 0 0 5px 5px;
    border-style: solid;
}


@-webkit-keyframes droneHoverV {
     0% { background-position-y:   0px; }
   100% { background-position-y: -1152px; }
}

@-webkit-keyframes droneHoverH {
     0% { background-position-x:   0px; }
   100% { background-position-x: -1280px; }
}

/*@keyframes droneHoverV {
     0% { background-position: 0 0;}
   100% { background-position: -1152px 0; }
}

@keyframes droneHoverH {
     0% { background-position: 0 0; }
   100% { background-position: 0 -1280px; }
}*/


/*
 
    DRONE DATA
 
*/
.droneDataBackground{
    border: 3px solid #ff7f00;
    border-radius: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#929292), to(#464646));
    box-shadow: 7px 8px 4px #000;
}
.droneDataWrapper {
    width: 665px;
    height: 300px;
    position: fixed;
    top: 0px;
    right: 0px;
}
.droneName{
    font-family: tahomabd;
    color: white;
    font-size: 30px;
}
.droneCurrentTaskLabel{
    font-family: tahoma;
    font-size: 22px;
    color: #FFF;
}
.droneClassLabel{
    font-family: tahoma;
    font-size: 22px;
    color: white;
}
.droneSatusLabel{font-family: tahoma;     font-size: 22px;     color: #FFF;}
.droneFuelLabel{
    font-family: tahoma;
    font-size: 22px;
    color: #FFF;
}
.droneFuelPercentage{
    padding-left: 15px;
    color: #F5AB5A;
    display: inline-block;
    font-family: tahoma;
    font-size: 22px;
}
.droneHealthLabel{
    font-family: tahoma;
    font-size: 22px;
    color: #FFF;
}
.droneHealthPercentage{
    padding-left: 15px;
    color: #F5AB5A;
    display: inline-block;
    font-family: tahoma;
    font-size: 22px;
}
.droneData {
    padding-top: 13px;
    padding-left: 25px;
}
.droneTaskWrapper {
    display: inline;
}
.droneClass{
    display: inline-block;
    padding-left: 15px;
    color: #F5AB5A;
}
.droneStatus{padding-left: 15px;     color: #F5AB5A;display: inline-block;}

/*
    DRONE LIST
 
*/
.droneListWrapper {
    bottom: 0px;
    left: 0px;
    width: 225px;
    height: 367px;
    position: fixed;

}
.droneImage {
    width: 32px;
    height: 32px;
}
.circle32{
    border-radius: 32px;
    width: 32px;
    height: 32px;
    display: inline-block;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
}
.droneButton{
    text-align: center;
    width: 80%;
    height: 40px;
    border: 2px solid #ff7f00;
    font-family: tahomabd;
    font-size: 21px;
    border-radius: 5px;
    margin-left: 10%;
    padding: 5px 0px 0 5px;
    margin-top: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#A9A9A9), to(#555656));
    box-shadow: 7px 8px 4px #000;
}
.droneListTableWrapper {
    margin: 5px 0 0 3%;
    padding: 0px;
    width: 90%;
    box-shadow: 7px 8px 4px #000;
    border: 3px solid #ff7f00;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}
.droneListTableWrapper table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.droneListTableWrapper td {
    vertical-align: middle;
    border: 1px solid #ff7f00;
    border-width: 0px 0px 1px 0px;
    text-align: left;
    padding: 2px;
    font-size: 20px;
    font-family: euphemia;
    font-weight: normal;
    color: #000;
    -webkit-column-width: 0px;
}
.droneListTableWrapper tr:nth-child(odd){background-color: #969696;}
.droneListTableWrapper tr:nth-child(even)    {background-color: #969696;}
.droneListTableWrapper col:nth-child(odd){width: 30%;}
.droneListTableWrapper col:nth-child(even){width: 70%;}

/*
    DRONE LOG
 
*/
.droneLogSummaryWrapper {
    margin: 20px 0 0 5%;
    padding: 0px;
    width: 90%;
    box-shadow: 7px 8px 4px #000;
    border: 3px solid #ff7f00;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}
.droneLogSummaryWrapper table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.droneLogSummaryWrapper td {
    vertical-align: middle;
    border: 1px solid #ff7f00;
    border-width: 0px 1px 1px 0px;
    text-align: left;
    padding: 7px;
    font-size: 20px;
    font-family: euphemia;
    font-weight: normal;
    color: #000;
}
.droneLogSummaryWrapper th {font-family: tahomabd;color: white;font-size: 28px;}
.droneLogSummaryWrapper tr:nth-child(odd){background-color: #484848;}
.droneLogSummaryWrapper tr:nth-child(even)    { background-color:#cccccc; }
.droneLogWrapper {
    width: 700px;
    height: 200px;
    position: fixed;
    bottom: 0px;
    right: 0px;
}


/*
 //
 //     Data State
 //
 
*/

/*
    Drone List
*/
.dataDroneListWrapper {
    bottom: 0px;
    left: 0px;
    width: 225px;
    height: 367px;
    position:fixed;
}

.scoreListTableWrapper {
    margin: 5px 0 0 3%;
    padding: 0px;
    width: 90%;
    box-shadow: 7px 8px 4px #000;
    border: 3px solid #ff7f00;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}
.scoreListTableWrapper table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.scoreListTableWrapper th {
    vertical-align: middle;
    border: 1px solid #ff7f00;
    border-width: 0px 1px 1px 0px;
    text-align: center;
    padding: 7px;
    font-size: 14px;
    font-family: tahomabd;
    font-weight: normal;
    color: #000;
}
.scoreListTableWrapper td {
    vertical-align: middle;
    border: 1px solid #ff7f00;
    border-width: 0px 0px 1px 0px;
    text-align: left;
    padding: 3px;
    font-size: 13px;
    font-family: tahomabd;
    font-weight: normal;
    color: #000;
}
.scoreListTableWrapper tr:nth-child(odd){background-color: #B5B5B5;}
.scoreListTableWrapper tr:nth-child(even)    { background-color:#cccccc; }

/*
    Chart
*/
.dataChartWrapper{
    width: 640px;
    height: 340px;
    top: 140px;
    right: 25px;
    position:fixed;
    z-index:0;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 7px 8px 4px #000;
}

.dataProblemWrapper{
    width: 625px;
    height: 135px;
    top: 0px;
    right: 130px;
    position:fixed;
    z-index:0;
    color: white;
}

.dataProblemButton{
    width: 180px;
    height: 30px;
    border: 3px solid #ff7f00;
    font-family: tahomabd;
    font-size: 21px;
    border-radius: 5px;
    margin: 0 20px 0 0;
    padding: 0px 0px 0px 5px;
    margin-top: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#676B6D), to(#36383A));
    box-shadow: 7px 8px 4px #000;
    float: right;
}
.dataProblemName {
    font-family: tahoma;
    font-size: 24px;
    margin-left: 10px;
    color: white;
}

/*
 //
 //     Upgrade State
 //
 
*/

.upgradeDroneImageWrapper{
    width: 256px;
    height: 256px;
    top: 133px;
    left: 0px;
    position:fixed;
    z-index: 0;
}
.droneUpgradeImage {
    width: 256px;
    height: 256px;
}
.circle256{
    border-radius: 256px;
    width: 256px;
    height: 256px;
    display: inline-block;
    /* position: absolute; */
    /* top: 30px; */
    /* left: 0; */
}

.upgradeDroneDataWrapper {
    width: 644px;
    height: 215px;
    top: 111px;
    right: 0px;
    position:fixed;
    z-index: 0;
}

.upgradeDroneUpgradesWrapper{
    width: 642px;
    height: 151px;
    top: 332px;
    right: 17px;
    position:fixed;
    z-index:0;
}

.upgradeHeaderWrapper{
    width: 622px;
    height: 132px;
    top: 0px;
    right: 163px;
    position:fixed;
    z-index: 0;
    text-align: right;
    padding: 27px 0px 0px 0px;
    color: #EFBE64;
}

.upgradeButtonWrapper{
    width: 256px;
    height: 111px;
    bottom: 0px;
    left: 0px;
    position:fixed;
}

.upgradeIndicators {
    position: absolute;
    color: #FFF;
    width: 70px;
    height: 20px;
    font-family: tahoma;
    font-size: 10px;
    text-align: center;
}
.upgradeDroneName{
    color: #AFA9A9;
    font-family: tahomabd;
    font-size: 24px;
    float: left;
    padding-left: 18px;
}
.upgradeInfoWrapper {
    
}

.upgradeID{
    float: right;
    font-family: tahoma;
    font-size: 23px;
    background-color: #000;
    color: white;
    width: 48px;
    height: 39px;
    border-radius: 0px 0px 0px 60px;
    text-align: right;
    padding-right: 5px;
    /* position: relative; */
    /* top: 0px; */
    /* left: 0px; */
}
.upgradeInfo{
    position: absolute;
    width: 98%;
    top: 31px;
    left: 5px;
    /* background-color: white; */
    height: 175px;
    border-radius: 10px 0px 10px 10px;
    box-shadow: 7px 8px 4px #000;
    background: -webkit-gradient(linear, left top, left bottom, from(#676B6D), to(#36383A));
}
.upgradeInfoTitle{
    color: #E8873C;
    font-family: tahomabd;
    font-size: 20px;
    float: left;
    position: relative;
    top: 20px;
    left: 0;
    padding: 0px 0px 0px 5px;
}
.upgradeInfoDescription{
    font-family: tahoma;
    font-size: 17px;
    /* position: relative; */
    /* top: 23px; */
    text-align: left;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
}

.upgradeSubmitChangesButton{
    width: 75%;
    height: 26px;
    text-align: center;
    border: 3px solid #ff7f00;
    font-family: tahomabd;
    font-size: 18px;
    border-radius: 5px;
    margin-left: 10%;
    padding: 0px 0px 0px 0px;
    margin-top: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#676B6D), to(#36383A));
    box-shadow: 7px 8px 4px #000;
}

.upgradeDroneCodexButton{
    width: 75%;
    height: 26px;
    border: 3px solid #ff7f00;
    text-align: center;
    font-family: tahomabd;
    font-size: 18px;
    border-radius: 5px;
    margin-left: 10%;
    /* padding: 5px 0px 0 5px; */
    margin-top: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#676B6D), to(#36383A));
    box-shadow: 7px 8px 4px #000;
}
.droneUpgradeOption{
    float: left;
}
.droneUpgradeOptionLabel{
    font-family: tahoma;
    font-size: 15px;
    text-align: center;
}
.droneUpgradeOptionImage{background-image: url(../images/LostCell/beta_drone_128.png);width: 128px;height: 128px;}
.droneUpgradeOptionImageLocked{background-image: url(../images/LostCell/lock2.png);width: 128px;height: 128px;}
.droneUpgradeOptionWrapper{
    height: 151px;
    box-shadow: 7px 8px 4px #000;
    background: -webkit-gradient(linear, left top, left bottom, from(#676B6D), to(#36383A));
    color: white;
    border-radius: 10px;
    width: 651px;
    margin-top: 0px;
}